* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 13px;
  background: #f2f2f2;
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
}

.controls {
  position: relative;
  flex: 0 0 350px;
  padding: 20px 20px 100px 20px;
  background: #676778;
}

.preview {
  flex: auto;
  display: flex;
  padding: 30px;
  overflow: auto;
  justify-content: center;
  align-items: center;
}

.a4-paper {
  max-width: 655px;
  height: 902px;
  overflow: hidden;
  background: white;
  padding: 30px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  text-align: left;
  white-space: nowrap;
}

table th,
table td {
  padding: 5px;
}

table th:last-child,
table td:last-child {
  padding-right: 0;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.no-wrap {
  white-space: nowrap;
}

.field {
  margin-bottom: 5px;
}

.field input[type="text"],
.field input[type="date"] {
  display: block;
  height: 28px;
  line-height: 28px;
  padding: 0 5px;
  border-radius: 2px;
  border: 0;
  width: 100%;
}

.button {
  display: inline-block;
  color: white;
  border: 0;
  text-align: center;
  border-radius: 2px;
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}

.button.save {
  background: #6593f5;
}

.button.remove {
  height: 22px;
  line-height: 22px;
  font-size: 11px;
  background: #f56565;
}

/* Simple grid system */

.g-r {
  display: flex;
  margin-left: -5px;
}

.g-r > div {
  padding-left: 5px;
}

.g-r-c-10 {
  width: 10%;
}

.g-r-c-20 {
  width: 20%;
}

.g-r-c-30 {
  width: 30%;
}

.g-r-c-33 {
  width: 33.3%;
}

.g-r-c-40 {
  width: 40%;
}

.g-r-c-50 {
  width: 50%;
}

.g-r-c-60 {
  width: 60%;
}

.g-r-c-70 {
  width: 70%;
}

.g-r-c-80 {
  width: 80%;
}

.g-r-c-90 {
  width: 90%;
}

.g-r-c-100 {
  width: 100%;
}
