* {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 30px;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 13px;
  background: #f2f2f2;
}

.container {
  height: 902px;
  margin: 0 auto;
  max-width: 655px;
}

#invoice {
  overflow: hidden;
}

.sheet {
  background: white;
  padding: 30px;
  overflow: hidden;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  text-align: left;
  white-space: nowrap;
}

table th,
table td {
  padding: 5px;
}

table th:last-child,
table td:last-child {
  padding-right: 0;
}

.align-right {
  text-align: right;
}

.no-wrap {
  white-space: nowrap;
}

.signature {
  float: right;
  text-align: center;
}
